---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/116/senate/members.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - fake_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - aa46136a-b4ce-4b8b-a28f-6453d3bc1775
      X-Amz-Apigw-Id:
      - U2opvGPuoAMFqWA=
    body:
      encoding: UTF-8
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\" Copyright (c) 2022 Pro
        Publica Inc. All Rights Reserved.\",\n   \"results\":[\n      {\n         \"congress\":
        \"116\",\n         \"chamber\": \"Senate\",\n         \n         \n         \"num_results\":
        102,\n         \"offset\": 0,\n         \"members\": [\n              {\n
        \                \"id\": \"A000360\",\n                 \"title\": \"Senator,
        2nd Class\",\n                 \"short_title\": \"Sen.\",\n                 \"api_uri\":\"https://api.propublica.org/congress/v1/members/A000360.json\",\n
        \                \"first_name\": \"Lamar\",\n                 \"middle_name\":
        null,\n                 \"last_name\": \"Alexander\",\n                 \"suffix\":
        null,\n                 \"date_of_birth\": \"1940-07-03\",\n                 \"gender\":
        \"M\",\n                 \"party\": \"R\",\n                 \"leadership_role\":
        null,\n                 \"twitter_account\": \"SenAlexander\",\n                 \"facebook_account\":
        \"senatorlamaralexander\",\n                 \"youtube_account\": \"lamaralexander\",\n
        \                \"govtrack_id\": \"300002\",\n                 \"cspan_id\":
        \"5\",\n                 \"votesmart_id\": \"15691\",\n                 \"icpsr_id\":
        \"40304\",\n                 \"crp_id\": \"N00009888\",\n                 \"google_entity_id\":
        \"/m/01rbs3\",\n                 \"fec_candidate_id\": \"S2TN00058\",\n                 \"url\":
        \"https://www.alexander.senate.gov/public\",\n                 \"rss_url\":
        \"https://www.alexander.senate.gov/public/?a=RSS.Feed\",\n                 \"contact_form\":
        \"http://www.alexander.senate.gov/public/index.cfm?p=Email\",\n                 \"in_office\":
        false,\n                 \"cook_pvi\": null,\n                 \"dw_nominate\":
        0.324,\n                 \"ideal_point\": null,\n                 \"seniority\":
        \"17\",\n                 \"next_election\": \"2020\",\n                 \"total_votes\":
        717,\n                 \"missed_votes\": 133,\n                 \"total_present\":
        0,\n                 \"last_updated\": \"2020-12-30 19:01:18 -0500\",\n                 \"ocd_id\":
        \"ocd-division/country:us/state:tn\",\n                 \"office\": \"455
        Dirksen Senate Office Building\",\n                 \"phone\": \"202-224-4944\",\n
        \                \"fax\": \"202-228-3398\",\n                 \"state\": \"TN\",\n
        \                \"senate_class\": \"2\",\n                 \"state_rank\":
        \"senior\",\n                 \"lis_id\": \"S289\"\n                 ,\"missed_votes_pct\":
        18.55,\n                 \"votes_with_party_pct\": 96.55,\n                 \"votes_against_party_pct\":
        3.45\n               },\n                           {\n                 \"id\":
        \"B001230\",\n                 \"title\": \"Senator, 1st Class\",\n                 \"short_title\":
        \"Sen.\",\n                 \"api_uri\":\"https://api.propublica.org/congress/v1/members/B001230.json\",\n
        \                \"first_name\": \"Tammy\",\n                 \"middle_name\":
        null,\n                 \"last_name\": \"Baldwin\",\n                 \"suffix\":
        nu[...]
